**Lab: Data Analysis with Pandas**
- Cycle Share Data set 

**Rawan Abu Yasein**

***25/5/2021***

In [2]:
import pandas as pd

In [21]:
Trip = pd.read_csv('trip.csv', error_bad_lines=False)
# Trip = pd.read_csv("trip.csv", sep='delimiter', header=None)
Station = pd.read_csv("station.csv")
Weather = pd.read_csv("weather.csv")

b'Skipping line 50794: expected 12 fields, saw 20\n'

## What is the average trip duration for a borrowed bicycle?

In [24]:
Trip["tripduration"].mean()

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [45]:
common_year= Trip[["birthyear"]].mode()
2021- common_year

34

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [52]:
s=Weather.groupby('Date')['Precipitation_In']
s.mean()

# Weather.groupby["Date"]
# Weather.head(5)

Date
1/1/2015     0.00
1/1/2016     0.00
1/10/2015    0.18
1/10/2016    0.00
1/11/2015    0.06
             ...
9/5/2015     0.06
9/6/2015     0.19
9/7/2015     0.00
9/8/2015     0.00
9/9/2015     0.00
Name: Precipitation_In, Length: 689, dtype: float64

In [53]:
s.median()

Date
1/1/2015     0.00
1/1/2016     0.00
1/10/2015    0.18
1/10/2016    0.00
1/11/2015    0.06
             ...
9/5/2015     0.06
9/6/2015     0.19
9/7/2015     0.00
9/8/2015     0.00
9/9/2015     0.00
Name: Precipitation_In, Length: 689, dtype: float64

## What’s the average number of bikes at a given bike station?

In [113]:
# while finding mean, it skip null values  (default True)
# Station['current_dockcount']mean()
Station.current_dockcount.mean()

16.517241379310345

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [112]:
# Station[["install_dockcount", "current_dockcount"]]

Station["current_dockcount"].sum() - Station["install_dockcount"].sum()

-62

No because the sum of the current_dockcount is bigger then the install_dockcount


## 1.What are the most cold days?

In [78]:
Weather[Weather["Min_TemperatureF"] >= 10][["Date","Min_TemperatureF"]]

           Date  Min_TemperatureF
0    10/13/2014                54
1    10/14/2014                55
2    10/15/2014                54
3    10/16/2014                52
4    10/17/2014                57
..          ...               ...
684   8/27/2016                61
685   8/28/2016                59
686   8/29/2016                55
687   8/30/2016                57
688   8/31/2016                59

[689 rows x 2 columns]

## 2.Are men riding bicycles more?

In [110]:
without_null = Trip["gender"].dropna().value_counts()
# male = without_null.str.contains('Male').count()
# without_null[Trip.gender('Male')==True].value_count()
without_null 
if without_null.Female >  without_null.Male:
    print('No')
else:
    print('Yes')

Yes


## 3.Has humidity reached to 90 before?

In [94]:
if 90 in Weather["Max_Humidity"].values:
    print('Yes')
else:
    print('No')

Yes